---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../sections/Hero';
import Services from '../sections/Services';
import WhyChooseUs from '../sections/WhyChooseUs';
import Portfolio from '../sections/Portfolio';
import Testimonials from '../sections/Testimonials';
import CTA from '../sections/CTA';
import Footer from '../components/Footer.astro';
---

<Layout title="MinkayTec | Desarrollo de Software a Medida">
	<Navbar client:load />
	<main>
		<Hero client:load />
		<Services client:visible />
		<WhyChooseUs client:visible />
		<Portfolio client:visible />
		<Testimonials client:visible />
		<CTA client:visible />
	</main>
	<Footer />
</Layout>
